<div class="container" *ngIf="currUser; else loggedOut">
    <header class="jumbotron">
        <div *ngIf="isImg; else notImg">
            <img src={{ currUser.picData }} alt="profile picture" class="img-responsive">
        </div>
        <ng-template #notImg>
            <img src="assets/images/person-placeholder.jpg" alt="place holder image" class="img-responsive">
        </ng-template>
        <h3>
            <u><strong>{{ user.user }}</strong>'s Profile</u>
        </h3>
    </header>
    <p>
        <strong>Name:</strong> <em>{{ user.lastName }}, {{ user.firstName }}</em><br>
        <strong>Phone:</strong> {{ user.phone | phoneNumber:'US' }}
        <strong>Email:</strong> 
        <a routerLink="mail" routerLinkActive="active-link">
            {{ user.email }}
        </a>
    </p>
    <div *ngIf="notEmp; else eblk">
        <strong>Position:</strong> {{ user.category.name }}
        <strong>Salary:</strong> {{ user.salary | currency:'USD' }}
    </div>
    <ng-template #eblk>
        <strong>Position:</strong> {{ user.category.name }}
    </ng-template>
    <p>
        <strong>Address:</strong> {{ user.addr }}
        <strong>City:</strong> {{ user.city }}
        <strong>State:</strong> {{ user.state }}
        <strong>Zip Code:</strong> {{ user.zip }}
    </p>
    <strong>Roles:</strong>
    <ul>
        <li *ngFor="let role of currUser.roles">
            {{ role }}
        </li>
    </ul>
    <button class="btn btn-primary btn-sa" (click)="moveToInsertForm()">
        Update
    </button>
    <button class="btn btn-primary btn-sa" (click)="removeBtn(user.id)">
        Delete
    </button>
    <button class="btn btn-primary btn-sa" (click)="signout()">
        Sign-out
    </button>
</div>
 
<ng-template #loggedOut>
    Please Login
</ng-template>