<table class="table table-bordered">
    <thead>
        <tr>
            <th width="20%">Image</th>
            <th width="50%">Details</th>
            <th width="30%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of items">
            <td>
                <img src={{ cart.imageUrl }} class="img-responsive" width="150px">
            </td>
            <td>
                <p>{{ cart.name }}</p>
                <p>{{ cart.unitPrice | currency:'USD' }}</p>
            </td>
            <td>
                <button (click)="incQuantity(cart)" class="btn btn-primary btn-sa">
                    <i class="fas fa=plus"></i>
                </button>
                <div class="items">
                    <label>Quantity</label> {{ cart.quantity }}
                </div>
                <button (click)="decQuantity(cart)" class="btn btn-primary btn-sa">
                    <i class="fas fa-minus"></i>
                </button>
                <p class="mt-2">Subtotal: {{ cart.quantity * cart.unitPrice | currency:'USD' }}</p>
                <button (click)="remove(cart)" class="btn btn-primary btn-sa">
                    Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>