<div class="page-wrapper">
    <!-- Menu Side Bar Start -->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="asstes/images/ranchlyfe.png" alt="Ranch Lyfe" class="img-responsive">
            </a>
        </div>
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list">
                    <li>
                        <a href="#">Temp 1</a>
                    </li>
                    <li>
                        <a href="#">Temp 2</a>
                    </li>
                    <li>
                        <a href="#">Temp 3</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- Menu Side Bar End -->

    <!-- Page Container -->
    <div class="page-container">
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" onsubmit="return false" method="GET">
                            <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for data ...">
                            <button class="au-btn-submit" type="submit">
                                SEARCH
                            </button>
                        </form>
                        <div class="cart-area d-n">
                            <a href="#">
                                <div class="total">20.00 <span> 2</span> </div>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Main Start -->
        <div class="main-content">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="product-box">
                                <a href="#">
                                    <img src="assets/images/placeholder.png" class="img-responsive" alt="Temp Photo">
                                </a>
                                <a href="#">
                                    <h1>Temp Title</h1>
                                </a>
                                <h2>temp input data here..</h2>
                                <div class="price">25.22 $</div>
                                <a href="#" class="primary-btn">Add To Cart</a>
                            </div>
                        </div>
                    </div>

                    <div class="footer-pagination">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                <div class="items">
                                    <label>Items per page</label>
                                    <select>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                        <option>40</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="number">1 - 10 of 100</div>
                            </div>
                            <div class="col-md-1">
                                <div class="arrows">
                                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main End -->

    </div>
</div>
<!-- Page Container End -->

<footer>
    <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</footer>